VITE_API_URL=https://api.ultrasparkcleaning.co.uk/api/v1
VITE_GOOGLE_ADS_ID=AW-18124947759
VITE_GA_MEASUREMENT_ID=
VITE_ADS_CONTACT_CONVERSION_LABEL=
VITE_ADS_QUOTE_CONVERSION_LABEL=
VITE_ADS_BOOKING_CONVERSION_LABEL=
